/* Gaya dasar untuk garis-garis hamburger */
.hamburger-line {
    display: block;
    transform-origin: center; /* Set titik pusat transformasi */
    width: 100%;
    height: 4px;
    background-color: white;
    border-radius: 2px;
}

/* Ketika tombol hamburger dalam keadaan 'open' */
#hamburger-button.open .hamburger-line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 6px);
}

#hamburger-button.open .hamburger-line:nth-child(2) {
    opacity: 0; /* Garis tengah hilang */
}

#hamburger-button.open .hamburger-line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -6px);
}
